# Ignore folders starting with "000"
000*/

# Ignore node_modules directory
node_modules/

# Ignore any other dependencies (e.g., package-lock.json, yarn.lock)
package-lock.json
yarn.lock

# Ignore all files in the "folder tags" directory
folder tags/
